/* @font-face {
  font-family: ;
  src: url(Montserrat-thin.ttf)
} */
body{
  background-color: white;
  margin: auto 0;
  padding: 0;
  border-width: 0px;
}

.navbar {
  display: flex;
  list-style: none;
  font-size: 0.8rem;
  margin: 0
}

.navlink .navitem{
  text-decoration: none;
  padding: 20px;
  color: #2F313D;
  font-weight: 600;
  font-family: Quicksand;
}

.navitem:hover {
  cursor: pointer
}

li {
  padding: 20px;
  color: #2F313D;
  font-weight: 600;
  font-family: Quicksand;
}

@media only screen and (max-width: 600px) {
  .navbar {
    font-size: 0.5rem;
    padding: 0
  }
}

.push {
  margin-left: auto;
  margin-right: 40px
}

.projectpagecontainer {
  display: grid;
  background-color: white;
  margin-right: 40vh;
  margin-left: 40vh;
  padding: 0.5vh;
}

.projectdescription {
  font-family: Quicksand;
  font-size: 0.9rem;
  color: #2f313d;
  text-align: left;
  margin-right: 3.5vh;
  margin-left: 3.5vh;
  margin-bottom: 3vh;
  line-height: 1.5;
}

.linktoproject {
  color: #2f313d;
  text-decoration: none;
  font-weight: bold;
}

.linktoproject:hover {
  color: #2988BC;
}

.socialmedia a {
  margin-top: 10vh;
  border-radius: 100%;
  color: #535358;
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}

.fa {
  font-size: 1.8rem;
}

.projectsbox {
  text-align: center
}

.sectiontitle {
  font-family: Montserrat;
  color: #2f313d;
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 1.5rem;
  text-align: center;
  margin-top: 3rem;
}

footer {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: Quicksand;
  font-size: .7rem;
  color: #2f313d;
}

/* slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 45rem;
  position: relative;
  margin: auto;
}

.mySlidePic > mySlides {
  object-fit: cover;
}

.mySlidePicStreetEats {
  height: 35rem;
  max-width: 45rem;
  margin-bottom: 2vh;
  object-fit: cover
}

.mySlidePicTodo {
  max-width: 100%;
  margin-bottom: 10px;
  object-fit: cover
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #2f313d;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the 'next button' to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px 20px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}